
$primary-color: #5c6cba;
$primary-color-dark: #4a5795;
$primary-color-light: #9da6d9;
$background-color: #f6f7fb;
$navbar-link-color: #0E0F0F;
$navbar-link-active-color: #cccc;
$dark-gray: #bdbdbd;
$light-gray: #eeeeee;
$dark-mid-light-gray: #cbcbcb;
$single-post-background-color: #FFFFFF;
